*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    background-image: url(./Images/PK-en-20241223-TRIFECTA-perspective_85ff0c55-7fef-41fd-8447-76e72e8dbaa0_large.jpg);
    height: 700px;
}
header nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px 0px 0px -16px;
    height: 5rem;
    align-items: center;
    background: transparent;
}

header nav .logo img{
    width: 10rem;
    height: 5rem;
}

.btn{
    background: rgb(229,9,20);
    border: 0.0625rem solid rgba(0,0,0,0);
    border-radius: 7px;
    width: 5rem;
    height:  2.5rem;
    color: white;
    font-weight: bold;
    text-align: center;
    align-items: center;
}
.btn:hover{
    background: rgba(229, 9, 20, 0.832);
    color: white;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    color: white;
    margin-top: 200px;
    gap: 10px;
    /* margin-bottom: 100px; */
}

.hero .intro h1{
    font-family:Helvetica ,sans-serif;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
    /* font-weight: 700; */
    line-height: 125%;
}

.hero .intro p{
    font-size: 20px;
    font-weight: 400;
    margin: 0px 0px 16px;
    color: white;
}

.form{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    align-self: center;
}
.form input{
    width: 320px;
    background: transparent;
    height: 55px;
    border-radius: 7px;
    padding-left: 10px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.488);
    background-color: none;
}

.form button{
    width: 180px;
    height: 55px;
}

.line{
    background: radial-gradient(
                    50% 500% at 50% -420%,
                    rgba(64, 97, 231, 0.4) 80%,
                    rgba(0, 0, 0, 0.1) 100%
                ),black;
    /* margin-top: 100px; */
    background-clip: padding-box;
    height: 130px;
}
.line1{
    background: rgb(0, 0, 0) 100%
               
    
}
.line1 h2{
    color: white;
    padding-top: 20px;
    padding-bottom: 10px;
}
.line1 .boxes select{
    width: 110px;
    padding: 8px;
    background-color: transparent;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.357);
    border-radius: 5px;
   
    
}
.boxes{
    display: flex;
    gap: 20px;
}

.movie-cards{
    display: flex;
    gap: 20px;
    /* flex-wrap: wrap; */

    margin-top: 10px;
    margin-bottom: 20px;

}

.card{
    background-color: transparent;
    width: 140px;
    height: 200px;
    margin-top: 10px;
}
.card img{
    border-radius: 5px;
}

.cardsss{
    color: white;
    display: flex;
    gap: 10px;
}
.card1{
    padding: 1.5rem 1rem 6rem 1rem;
    background-color: #1F1221;
    border-radius: 10px;
    width: 300px;
    height: auto;
}

.card1 .footer{
    display: flex;
    justify-content: space-between;
    
}
.questions {
    margin-top: 50px;
    display: block;
    
}

.questions .ques{
    color: white;
    display: flex;
    justify-content: space-between;
    background-color:#414141ad ;
    padding: 1.5rem;
    margin-bottom: 10px;
}

.questions .ques:hover{
    background-color: #414141;
    cursor: pointer;
}
@media (max-width: 960px) {
    .boxes{
        flex-wrap: wrap;
    }
    .line .boxes select{
        width: 100%;
        padding: 10px;
    }
    .card{
        width: 112px;
        height: 100%;
    }
    .cardsss{
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }
    .card1{
        height: auto;
        width: 100%;
    }
}